.product-img {
  width: 100%;      
  height: 200px;     
  object-fit: cover; 
  border-radius: 12px;
}




.carousel-item img {
  width: 100%;         
  height: 800px;      
  object-fit: cover;    
  border-radius: 12px; 
}





.my-text {
  font-family: 'Noto Sans TC', sans-serif; 
  font-size: 18px;
  font-weight: 500;
  color: #0f172a;
  line-height: 1.5;
  text-align: left;
}






#newthing .my-text h3 {
  font-size: 40px !important;
  font-weight: 900 !important;
  color: #fbbf24 !important;
  margin-bottom: 12px;
}

#newthing .my-text h5 {
  font-size: 35px !important;
  font-weight: 700 !important;
  margin-bottom: 10px;
}

#newthing .my-text p {
  font-size: 22px !important;
  line-height: 1.8 !important;
  color: #ffffff !important;
}
