.product-img {
  width: 100%;      
  height: 200px;     
  object-fit: cover; 
  border-radius: 12px;
}




.carousel-item img {
  width: 100%;         
  height: 300px;      
  object-fit: cover;    
  border-radius: 12px; 
}





.my-text {
  font-family: 'Noto Sans TC', sans-serif; 
  font-size: 18px;
  font-weight: 500;
  color: #0f172a;
  line-height: 1.5;
  text-align: left;
}

